:host {
  --burger-list-padding: 16px;
  --grid-gap: 8px;
  --grid-column-count: 3;
}

@media screen and (max-width: 1024px) {
  :host {
    --burger-list-padding: 0;
  }
}

ul {
  display: grid;
  grid-template-rows: repeat(auto-fill);
  grid-row-gap: var(--grid-gap);
  grid-template-columns: repeat(
    auto-fill,
    calc(100% / var(--grid-column-count) - var(--grid-gap))
  );
  justify-content: space-between;
  list-style-type: none;
  padding: var(--burger-list-padding);
  width: calc(100% - var(--burger-list-padding) * 2);

  & img {
    object-fit: cover;
    width: 100%;
  }
}

.highlight {
  outline: 4px solid var(--color-accent);
}
