.app-shell-container {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-row-gap: 16px;
  margin: calc(var(--app-shell-margin-baseline))
    calc(var(--app-shell-margin-baseline) * 2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-secondary);

  & h1 {
    margin-bottom: 0;
  }

  & span {
    display: inline-block;
  }
}

footer {
  & p {
    text-align: center;
    font-size: 0.6rem;
  }
}
