:root {
  --app-shell-margin-baseline: 48px;
  --background-gradient-layers: rgb(98, 62, 228), rgb(150, 14, 187);
  --color-primary: black;
  --color-secondary: white;
  --color-accent: orange;
}

@media screen and (max-width: 1024px) {
  :root {
    --app-shell-margin-baseline: 24px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(var(--background-gradient-layers));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
